.game-item {
    text-decoration: none;
    color: white;
    width: 320px;
    height: 320px;
    background-color: rgb(36, 37, 41);
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    margin-right: 50px;
    margin-bottom: 30px;

}

@media(max-width: 992px) {
    .game-item {
        margin-right: 20px;
        width: 280px;
        height: 280px;
    }
}

@media(max-width: 415px) {
    .game-item {
        margin-right: 0px;
    }
}

@media(max-width: 361px) {
    .game-item {
        margin-right: 0px;
        width: 285px;
        height: 300px;
    }
}

@media(max-width: 321px) {
    .game-item {
        margin-right: 0px;
        width: 250px;
        height: 220px;
    }
}

@media(max-width: 282px) {
    .game-item {
        margin-right: 0px;
        width: 250px;
        height: 235px;
    }
}

.game-item__title {
    font-size: 18px;
    font-weight: bold;
}

@media(max-width: 992px) {
    .game-item__title {
        font-size: 14px;
    }
}

@media(max-width: 769px) {
    .game-item__title {
        font-size: 14px;
    }
}

@media(max-width: 376px) {
    .game-item__title {
        font-size: 12px;
    }
}

@media(max-width: 282px) {
    .game-item__title {
        font-size: 10px;
        margin-top:0px;
    }
}


.game-item__genre {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

@media(max-width: 282px) {
    .game-item__genre {
        margin-top: 5px;
    }
}


.game-item__details{
    padding: 10px 20px;
}

.game-item__description {
    margin-top: 10px;
    font-size: 14px;
}



.game-item__buy {
    right: 0;
    bottom: -12px;
    margin-top: 15px;
    padding-bottom: 10px;
}